<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy Dacio Romero 2018</span>
        <div class="float-right">
            <a href="https://github.com/DacioRomero" class="fab fa-github"></a>
            <a href="https://www.linkedin.com/in/dacioromero/" class="fab fa-linkedin"></a>
            <a href="https://twitter.com/dacioromero" class="fab fa-twitter"></a>
        </div>
    </div>
</footer>
