<!-- views/partials/footer.hbs -->
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy Dacio Romero 2018</span>
        <div class="float-right">
            <a href="https://github.com/DacioRomero" target="_blank" class="fab fa-github"></a>
            <a href="https://www.linkedin.com/in/dacioromero/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://twitter.com/dacioromero" target="_blank" class="fab fa-twitter"></a>
            <a href="https://medium.com/@dacioromero" target="_blank" class="fab fa-medium"></a>
            <a href="https://www.youtube.com/channel/UCMB5PpYdAilyFtP09h_i76g" target="_blank" class="fab fa-youtube"></a>
            <a href="mailto:dacioromero@gmail.com" target="_blank" class="fas fa-envelope"></a>
        </div>
    </div>
</footer>
