<!-- views/partials/footer.hbs -->
<footer class="footer bg-light">
    <div class="container">
        <span class="text-muted">&copy Dacio Romero 2018</span>
        <div class="float-right">
            <a href="https://github.com/DacioRomero" class="fab fa-github"></a>
            <a href="https://www.linkedin.com/in/dacioromero/" class="fab fa-linkedin"></a>
            <a href="https://twitter.com/dacioromero" class="fab fa-twitter"></a>
            <a href="https://medium.com/@dacioromero" class="fab fa-medium"></a>
            <a href="https://www.youtube.com/channel/UCMB5PpYdAilyFtP09h_i76g" class="fab fa-youtube"></a>
            <a href="mailto:dacioromero@gmail.com" class="fas fa-envelope"></a>
        </div>
    </div>
</footer>
