<!-- views/home.hbs -->
<h1>Dacio Romero</h1>
<p>Data Science Student at <a href="https://www.makeschool.com/">Make School</a></p>
<h2>Languages</h2>
<ul class="list-inline">
    <li class="list-inline-item">Python</li>
    <li class="list-inline-item">JavaScript</li>
    <li class="list-inline-item">C#</li>
    <li class="list-inline-item">Java</li>
</ul>
