<!-- views/home.hbs -->
<h1>Dacio Romero</h1>
<p>Data Science Student at <a href="https://www.makeschool.com/">Make School</a></p>
<h3>Languages</h3>
<ul class="list-inline">
    <li class="list-inline-item">Python</li>
    <li class="list-inline-item">JavaScript</li>
    <li class="list-inline-item">C#</li>
    <li class="list-inline-item">Java</li>
</ul>
<h2>Featured Projects</h2>
<div class="row">
    <div class="card m-1">
        <div class="card-body">
            <h3 class="card-title"><a href="https://potatoes.dacio.app" target="_blank">Rotten Potatoes</a></h3>
            <p class="card-text">Rotten Tomatoes "clone" using <a href="https://developers.themoviedb.org/3/getting-started/introduction">MovieDB's api</a></p>
        </div>
    </div>
    <div class="card m-1">
        <div class="card-body">
            <h3 class="card-title"><a href="https://giphy.dacio.app" target="_blank">GIPHY Search</a></h3>
            <p class="card-text">A quick GIPHY search web app</p>
        </div>
    </div>
</div>
<p><small><a href="/repos">View others</a></small></p>
